<div class="content">
  <div class="visualizations">
    <div class="graph">
      <app-visualizations-line-graph [title]="'Speed'"
                                     [settings]="speedChartSettings"
                                     [xAxisLabel]="'Time(s)'"
                                     [yAxisLabel]="'Speed(mph)'"
                                     [data]="speedGraph$ | async"></app-visualizations-line-graph>
    </div>
    <div class="graph">
      <app-visualizations-line-graph [title]="'Distance'"
                                     [settings]="distanceChartSettings"
                                     [xAxisLabel]="'Time(s)'"
                                     [yAxisLabel]="'Distance(ft)'"
                                     [data]="distanceGraph$ | async"></app-visualizations-line-graph>
    </div>
  </div>
  <div class="metrics">
    <div class="graph">
      <app-visualizations-line-graph [title]="'Rating'"
                                     [settings]="ratingChartSettings"
                                     [xAxisLabel]="'Time(s)'"
                                     [yAxisLabel]="'Rating'"
                                     [data]="ratingGraph$ | async"></app-visualizations-line-graph>
    </div>
    <div class="graph">
      <app-visualizations-gauge-graph [settings]="ratingGaugeSettings"
                                      [data]="ratingGauge$ | async"></app-visualizations-gauge-graph>
    </div>
  </div>
</div>
