<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Safe Distance Driver</h1>
      <p>We measure how closely you're driving to cars in front of you.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Save Money</h2>
        <p>Maybe stop tailgating everyone and we'll throw you a couple bucks. Maybe.</p>
      </div>
      <div class="col-md-6">
        <h2>See How You're Driving</h2>
        <p>We have graphs and stuff that show all that sweet, sweet data we're collecting on you.</p>
      </div>
    </div>

    <hr>

  </div>
</main>
