<div class="gauge-graph">
  <ngx-charts-gauge [view]="settings.view"
                    [scheme]="{ domain: getRatingColor() }"
                    [results]="data"
                    [min]="settings.min"
                    [max]="settings.max"
                    [angleSpan]="settings.angleSpan"
                    [startAngle]="settings.startAngle"
                    [units]="settings.units"
                    [bigSegments]="settings.bigSegments"
                    [smallSegments]="settings.smallSegments"
                    [animations]="settings.animations">
  </ngx-charts-gauge>
</div>
